<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>HomePage</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>AXSOS ACADEMY</h1>
      <nav class="navbar navbar-default">
        <div>
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li><a href="#">To Do</a></li>
            <li><a href="#">Assignment</a></li>
            <li><a href="#">Request</a></li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-sm-3">
          <div class="profile">
            <h3>Name:</h3>
            <h3>ID:</h3>
            <h3>Mobile:</h3>
            <button><a href="#">Update Info</a></button>
          </div>
          <div class="activity">
              <p>Section:</p>
              <p>Attendance:</p>
              <p>Lates:</p>
              <p>Points:</p>


          </div>
        </div>
        <div class="col-sm-5">
            <h2>Today Schedule:</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Test</th>
                        <th>Test</th>
                        <th>Test</th>
                        <th>Test</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Adele</td>
                        <td>Adele</td>
                        <td>Adele</td>
                        <td>Adele</td>
                    </tr>
                    <tr>
                        <td>Baraa</td>
                        <td>Baraa</td>
                        <td>Baraa</td>
                        <td>Baraa</td>
                    </tr>
                    <tr>
                        <td>Help</td>
                        <td>Help</td>
                        <td>Help</td>
                        <td>Help</td>
                    </tr>
                    <tr>
                        <td>Adam</td>
                        <td>Adam</td>
                        <td>Adam</td>
                        <td>Adam</td>
                    </tr>
                    <tr>
                        <td>Lets</td>
                        <td>Lets</td>
                        <td>Lets</td>
                        <td>Lets</td>
                    </tr>
                    <tr>
                        <td>Try</td>
                        <td>Try</td>
                        <td>Try</td>
                        <td>Try</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h2>Breakout / Events:</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Attend</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Adele</td>
                        <td>Adele</td>
                        <td>Optional</td>
                    </tr>
                    <tr>
                        <td>Baraa</td>
                        <td>Baraa</td>
                        <td>Mandatory</td>
                    </tr>
                </tbody>
            </table>
            <button><a>Log out</a></button>
        </div>
      </div>
    </div>
  </body>
</html>
