<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'C:\Users\Dell\Desktop\python_stack\django\django_intro\the_great_numbers\app_3\static\css' %}"> 
</head>
<body>
  <div class="head">  <h1>The Great Number Game</h1>
    <p>I am thinking of a number between 1 and a 100</p>
    <p>Take a guess!</p>
    <form action="/check" method="post">
        {% csrf_token %}
        <input type="text" name="usernum"><br>
        <button type="submit">Submit</button>

    </form>
</div>
</body>
</html>