<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors Details</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <h1>{{author.first_name}} {{author.last_name}}</h1>
    <p>ID: {{author.id}}</p>
    <p>Notes: {{author.notes}}</p>
    <p>Books:</p>
    <u>
        {% for book in books %}
        <li>{{book.title}}</li>
        {% endfor %}
    </u>
    <br>
    <form action="/add_newbook/{{author.id}}" method="POST">
        {% csrf_token %}
        <select name="books" id="books">
            {% for book in allbooks %}
                {% if book not in author.book.all %}
            <option value="{{book.id}}">{{book.title}}</option>
                {% endif %}
            {% endfor %}
          </select>
          <button type="submit">Add</button>
    </form>
</body>
</html>